@keyframes flash {
  0% {
    opacity: 1;
  }
  //
  50% {
    opacity: 0;
  }
  //
  100% {
    opacity: 1;
  }
}

@keyframes blobRadius {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  //
  10% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  //
  20% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  //
  30% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  //
  40% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
  //
  50% {
    border-radius: 50% 50% 22% 78% / 36% 29% 71% 64%;
  }
  ///
  60% {
    border-radius: 64% 36% 78% 22% / 56% 33% 67% 44%;
  }
  //
  70% {
    border-radius: 39% 61% 33% 67% / 70% 67% 33% 30%;
  }
  //
  80% {
    border-radius: 73% 27% 79% 21% / 37% 40% 60% 63%;
  }
  //
  90% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

@keyframes blobTrans01 {
  0%,
  100% {
    transform: none;
  }
  //
  50% {
    transform: translate(50%, 20%) rotateY(10deg) scale(1.2);
  }
}

@keyframes blobTrans02 {
  0%,
  100% {
    transform: none;
  }
  //
  50% {
    transform: translate(50%, 20%) rotate(-200deg) scale(1.2);
  }
}

// animation: blobRadius 30s ease-in-out infinite both alternate,
//  blobTrans 20s ease-in-out infinite both alternate;
